<%- include("./template/header")%>
    <%- include("./template/navbar")%>
        <br><br><br><br><br>
        <section>
            <div class="container">
                <div class="row 5 product-item position-relative">
                    <div class="col-5 image-holder">
                        <img src="<%= evento.imagen %>" alt="Imagen de <%= evento.nombre %>" class="product-image" />

                    </div>
                    <div class="col">
                        <div class="container d-flex flex-column align-items-left">
                            <div class="row">
                                <h3 class="card-title">
                                    <%= evento.nombre %>
                                </h3>
                                <p class="card-description">
                                    <%= evento.detalle %>
                                </p>
                                <p class="card-description">Fecha: <%= evento.Fecha %>
                                </p>
                                <p class="card-description">Plazas: <%= evento.plazas %>
                                </p>
                            </div>
                            <div class="row">
                                <div class="d-flex justify-content-center align-items-center">
                                    <a href="/formulario/<%= evento.id %>">
                                        <button type="submit" class="btn btn-primary">Regístrate</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </section>
        <!-- Sección para mostrar comentarios -->
        <section class="container-fluid pt-4 mt-5">
            <div class="row">
                <h3 class="text-center">Comentarios del evento</h3>
            </div>
            <div class="row">
                <%- include("./template/ver_comentarios", { comentarios: evento.comentarios }) %>
            </div>
        </section>



        <section>
            <%- include("./template/comentarios",{evento})%>
        </section>


        <%- include("./template/footer")%>