<%- include("./template/header", {titulo:"Listado"})%>
<header>
    <%- include("./template/navbar")%>
</header>

 <div class="container">
    <h1>Listado</h1>
 </div>

 <table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">USUARIO</th>
            <th scope="col">CORREO</th>
        </tr>
    </thead>
    <tbody class="">
        <% usuarios.forEach(usuario =>{ %>
        <tr>
            <td><%= usuario._id%></td>
            <td><%= usuario.nombre%></td>
            <td><%= usuario.usuario%></td>
            <td><%= usuario.correo%></td>
            <td>
                <a href="/ver/<%= usuario._id%>"><button type="button" class="btn btn-dark">Ver</button></a>
                <a href="/modificar/<%= usuario._id%>"><button type="button" class="btn btn-light">Modificar</button></a>
                <a href="/eliminar/<%= usuario._id%>"><button type="button" class="btn btn-danger">Eliminar</button></a>
            </td>
        </tr>
        <% })%>
    </tbody>
 </table>

<%- include("./template/footer")%>